#gameListSystem {
	position:fixed;
	width:70%;
 	height:90%;
 	background-color: rgb(140,140,140);
 	color: white;
 	text-align: center;
 }

#gameBox{
	left: 1%;
	padding: 1%;
	position: fixed;
	width:43%;
	height:70%;
	background-color: blue;
	text-align: left;
	overflow-y: auto;
	word-wrap: break-word;
	border: 5px solid #0000CC;
}

body{
	padding: 0;
	margin: 0;
	font-size: 16px;
}

#createGameForm{
	text-align: left;
	
	position: fixed;
	background-color: transparent;
	width:57%;
}

#errorBox{
	color:red;
}
#name{;
	padding: 0;
	width: 30%;
	color: red;
}
#numplayers{;
	padding: 0;
	width: 10%;
	color: red;
}

#btnSend{
	padding: 0;
	width: 20%;
}


p{
	padding: 0;
	margin: 0;
	word-wrap:break-word;
}

legend{
	padding: 0;
	margin: 0;
}

#createGameBox{
	position: relative;
	left: 68%;
	padding: 1%;
	margin: 0;
	width: 28%;
	height: 79%;
	background-color: green;
	overflow-y: auto;
	border: 5px solid #036C00;
}