<html>
	<head>
		<title>Mafia Game Chat!</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/chatsystem.css"/>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
		<script language="javascript" type="text/javascript" charset="utf-8">
			var socket;
			var gameName = "{{ name }}"
		  	$(document).ready(function() {
		  		socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
		  		socket.on('connect', function() {
                    socket.emit('joined',{'name':gameName});
                });
               	socket.on('disconnect', function() {
               		socket.emit('disconnected');
               	})
                socket.on('status', function(data)
                {
                	$('#chatbox').append('<b>'+data.message+'</b><br>');
                })
		  		socket.on('text', function(data){
		  			$('#chatbox').append(data.username+': '+data.message+'<br>');
		  			$("#chatbox").scrollTop($("#chatbox")[0].scrollHeight);
		  		})
		  		$('#textmessage').keypress(function(e) {
                    if (e.keyCode == 13) {
                        sendMessage(document.getElementById('textmessage').value)
                        e.preventDefault();
                    }
                });
                socket.on('list players', function(data)
                {
                	data = JSON.parse(data)
                	$('#users').empty()
                	for (i in data)
                	{
                		var readyString = (data[i].ready=='True') ? 'Ready!':'Not ready'
                		$('#users').append("<div class='clickablePlayer'>"+data[i]['username'] + ' (' + readyString + ')</div>')
                	}
                })
		  	})
		  	function sendMessage(message)
		  	{
		  		if(message.length > 0)
		  		{
			  		//Send message to the server
			  		text = $('#textmessage').val();
	                $('#textmessage').val('');
	                socket.emit('text', {'message': message});
            	}
		  	};
		  	function toggleReady()
		  	{
		  		console.log("asdfsda")
		  		socket.emit('toggle ready')
		  	}
		</script>
	</head>
	<body>
		<div id="chatboxsystem">
			<h1>Welcome to the Mafia!</h1>
			<div id="chatbox">
   				<legend>Welcome to the Mafia Chat!</legend><br>
			</div>
			<form id="sendMessageForm">
				<input type="text" id="textmessage" maxlength=100 placeholder="type your message..."/>
				<input type="button" value="Send" class="btn" id="btnSend" onclick="sendMessage(document.getElementById('textmessage').value);"/><br>
			</form>
			<div id="users">
				<p>Online Users:</p>
			</div>
			<input type="button" value="Ready" class="btn" id="btnReady" onclick="toggleReady();"/><br>
		</div>
	</body>
</html>