<html>
	<head>
		<title>Mafia Game Lobby!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
		<!--<link rel="stylesheet" type="text/css" href="../../static/css/lobby.css"/>-->
		<link href="../../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../static/css/lobby.css" rel="stylesheet">
		<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="../../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			var socket;
		  	$(document).ready(function(){
		  		socket = io.connect('http://' + document.domain + ':' + location.port + '/lobby');
		  		//io.set("close timeout", 3);
		  		socket.on('connect', function() {
                    socket.emit('joined',{});
                });

		  		socket.on('list games', function(games) {
		  			$('#gameList').empty()
		  			$('#gameList').append("<thead><tr><th>Game Type</th><th>Room Name</th><th># Of Players</th></tr></thead>")
		  			$('#gameList').append("<tbody>")
		  			games = JSON.parse(games)
		  			for (i in games){
		  				var game = games[i]
		  				var elementID = "game: " + game['name']
		  				$('#gameList').append("<tr class='clickableRow'><td>Default</td><td class=gameName>"+game['name']+ "</td><td>" + game['numPlayers'] + "/" + game['maxPlayers'] + "</td></tr>")
		  			}
		  			$('#gameList').append("</tbody>")

		  			$('.clickableRow').click(function() {
		  				var name=this.getElementsByClassName('gameName')[0].innerHTML
		  				$(location).attr('href','http://' + document.domain + ':' + location.port + '/game/' + name);
			        })
		  		});

		  		socket.on('game creation errors', function(errors)
		  		{
		  			$('#errorBox').empty()
		  			if(errors.length > 0)$('#errorBox').append("<b>Error(s) creating game:</b><br>")
		  			for(message in errors)
		  			{

		  				$('#errorBox').append(errors[message] + "<br>")
		  			}
		  		})
                document.getElementById('btnSend').addEventListener('click', createGame, false);
                document.getElementById('gameBox').onselectstart = function() { return false; };
		  	})
			function idToName(id)
			{
				return id.substring(6);
			}
		  	function createGame()
		  	{
		  		var game = new Object();
		  		
		  		var data = {'name':$('#name').val(),'maxPlayers':$('#numplayers').val()}

		  		socket.emit('create game', data)
		  		$('#numplayers').val('')
		  		$('#name').val('')
		  	}
		  	
		</script>
	</head>
	<body>
		<div class="container">

			<div class="row">
				Welcome, {{name}}!
	            <div class="col-lg-12">
	                <h1 class="page-header">Lobby
	                    <small>Create or Join a Game</small>
	                </h1>
	            </div>
	        </div>
			<div id="gameListSystem">
				<div class="panel panel-default" id="panel2">
				    <div class="panel-heading">
				        <h4 class="panel-title">
				            <a data-toggle="collapse" data-target="#gameListPanel" href="#gameListPanel">Games</a>
				        </h4>
				    </div>
				    <div id="gameListPanel" class="panel-collapse collapse in">
				        <div id="gameBox" class = "panel-body">
		   					<div style="width:100%;height:250px;line-height:3em;overflow:scroll;padding:5px;" id ="gameListWrapper">
		                    
		                    	<table class="table table-striped" id="gameList" >

		                    	</table>
			                </div>
	                    </div>
					</div>    
				</div>
				
				<div class="panel panel-default" id="panel1">
				    <div class="panel-heading">
				        <h4 class="panel-title">
				            <a data-toggle="collapse" data-target="#createGamePanel" href="#createGamePanel">Create a Game</a>
				        </h4>
				    </div>
				    <div id="createGamePanel" class="panel-collapse collapse in">
				        <div class="panel-body">
				         	<form id="createGameForm" class="panel-body">
								<p><input type="text" id="name" maxlength=30 placeholder="name of the game"/></p>
								<p><input type="number" id="numplayers" maxlength=2 placeholder="max. players"/></p>
								<p><input type="button" class="btn btn-primary btn-success" id="btnSend" value="Create Game" class="btn"/></p>
								<div id = "errorBox">
									
								</div>
							</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</body>
</html>